/**
 * @file
 * Style the "Edit summary" on a node edit form.
 */
@import "../variables-override";
@import "../../../../../../vendor/twbs/bootstrap/scss/functions";
@import "../../../../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../../../../vendor/twbs/bootstrap/scss/mixins";

button.link {
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $link-color;
  border: 0;
  background: transparent;
  font-size: 1em;
  text-decoration: $link-decoration;
}
button.link:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

label button.link {
  font-weight: bold;
}
.text-format-wrapper > .form-item {
  margin-bottom: 0;
}

.filter-help a {
  position: relative;
  margin: 0 20px 0 0;
}

.filter-help a:after {
  position: absolute;
  top: 0;
  right: -20px; /* LTR */
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: transparent url(../../images/help.png);
}
