@import "../variables-override";
@import "../../../../../../vendor/twbs/bootstrap/scss/functions";
@import "../../../../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../../../../vendor/twbs/bootstrap/scss/mixins";
/**
 * Table drag handles need content-box box-sizing.
 */
a.tabledrag-handle .handle {
  box-sizing: content-box;
}
/**
 * Responsive table cells.
 */
th.priority-low,
th.priority-medium,
td.priority-low,
td.priority-medium {
  display: none;
}
@media screen and (min-width: 38em) {
  th.priority-medium,
  td.priority-medium {
    display: table-cell;
  }
}
@media screen and (min-width: 60em) {
  th.priority-low,
  td.priority-low {
    display: table-cell;
  }
}
