@import "../variables-override";
@import "../../../../../../vendor/twbs/bootstrap/scss/functions";
@import "../../../../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../../../../vendor/twbs/bootstrap/scss/mixins";
.sticky-nav-top {
  min-height: 1px;
  min-width: 1px;
}

/**
  Core toolbar sits behind the Laces navbar using bootstraps default z-index.
 */
.page-navigation-header.sticky-top {
  z-index: 490;
}
