@import "../variables-override";
@import "../../../../../../vendor/twbs/bootstrap/scss/functions";
@import "../../../../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../../../../vendor/twbs/bootstrap/scss/mixins";

#user-login-form,
#user-pass {
  #capslockdiv {
    height: 1em;
  }

  #capslockdiv p {
    display: none;
    color: #c61414;
    margin: 0;
    background: url("../../images/warning.svg") left center no-repeat;
    background-size: 1.5em 1.5em;
    text-indent: 2em;
    font-size: 1em;
    margin-left: .5em;
    line-height: 2em;
    position: relative;
    top: -15px;
  }

  /* Field Icons */
  #edit-name {
    background: #fff url("../../images/login-icon.svg") no-repeat 5px center;
    background-size: 1em 1em;
    text-indent: 2em;
    border: 1px solid #aaa;
  }

  #edit-pass {
    background: #fff url("../../images/password-icon.svg") no-repeat 5px center;
    background-size: 1em 1em;
    text-indent: 2em;
    border: 1px solid #aaa;
  }

  .actions-suffix {
    float: right;
    position: relative;
    bottom: 2.5rem;
    right: 1.0rem;
  }

  p.login-title {
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: linear-gradient(to bottom, white, #eef2f5);
    box-shadow: 0 1px whitesmoke;
    margin: 0 0 $spacer 0;
  }

  p.forgot-password {
    display: inline-block;
    position: relative;
    top: -.5rem;
  }

  p.forgot-password a {
    border: none;
  }

  > * {
    margin-left: $spacer;
    margin-right: $spacer;
  }
}