{% extends "group--statistic.html.twig" %}

{% block group_statistics %}
  <div class="card__counter">
    <ul>
      <li>
        <span class="card__counter-quantity">{{ course_sections }}</span>
        <span class="card__counter-text">{% trans %}sections{% plural course_sections %}sections{% endtrans %}</span>
      </li>
      <li>
        <span class="card__counter-quantity">{{ finished_sections }}</span>
        <span class="card__counter-text">{% trans %}finished{% plural finished_sections %}finished{% endtrans %}</span>
      </li>
      <li>
        {# Empty li for styling #}
      </li>

    </ul>
  </div>
{% endblock %}
{% block group_statistics_footer %}
{% endblock %}
