.cm-s-bespin {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #28211C;
	color: #BAAE9E;
}
.cm-s-bespin .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-bespin .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #28211C;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-bespin div.CodeMirror-cursor {
	border-left: 3px solid #BAAE9E;
}
.cm-s-bespin .CodeMirror-activeline-background {
	background: #FFFFFF08;
}
.cm-s-bespin .CodeMirror-selected {
	background: #DDF0FF33;
}
.cm-s-bespin .cm-comment {
	font-style: italic;
	color: #666666;
}
.cm-s-bespin .cm-keyword {
	color: #cc3ee0;
}
.cm-s-bespin .cm-string {
	color: #c1c1c1;
}
.cm-s-bespin .cm-string-2{
	color: #e00101;
}
.cm-s-bespin .cm-property {
	color: #DAD085;
}
.cm-s-bespin .cm-variable{
	color: #00b0fb;
}
.cm-s-bespin .cm-variable-2 {
	color: #5EA6EA;
}
.cm-s-bespin .cm-atom {
	color: #DAD085;
}
.cm-s-bespin .cm-number {
	color: #DAD085;
}
.cm-s-bespin .cm-operator {
	color: #5EA6EA;
}
.php + .cm-s-bespin .cm-operator {
	color: #d63939;
}
.cm-s-bespin .cm-tag{
	color: #5fef47;
}
.cm-s-bespin .cm-tag_{
	color: #ff4f68;
}
.cm-s-bespin .cm-attribute{
	color: #f9a83e;
}
.cm-s-bespin .CodeMirror-linenumber {
	color: italic;
}
.CodeMirror{
	height: 500px;
}
.CodeMirror *{
	box-sizing: initial !important;
}
.inline_twig_excel ~ .CodeMirror{
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.inline_twig.php + .CodeMirror{
	height: 185px;
}