<div class="compare-block-wrapper">
  {{ title }}
  {{ list }}
  {{ link }}

  <a class="compare-list--clear-all">{% trans 'Clear all' with {'context': 'arch_compare_block'} %}</a>

  <script name="compare-list-item" type="text/x-template">
    <li>
      <a href="@url" class="title">@title</a><i data-pid="@pid" class="compare-item-remove">X</i>
    </li>
  </script>
</div>
