{#
/**
 * @file
 * Default theme implementation to display filters from entity list.
 *
 * Available variables:
 * - form: render array of form.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<fieldset class="js-form-item form-item js-form-wrapper form-wrapper">
  <legend>
    <span class="fieldset-legend">{{ 'Sortable Filter'|t }}</span>
  </legend>
  <div class="fieldset-wrapper">
    {{ form }}
  </div>
</fieldset>
