{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('laces/laces-super-login') }}
<div class="container">
  <div class="row justify-content-center">
    <div class="my-3 col-md-6 col-lg-5">
      <form{{ attributes }}>
        {{ children }}
      </form>
    </div>
  </div>
</div>
