{#
/**
 * @file
 * Default theme implementation for a product edit form.
 *
 * Two column template for the product add/edit form.
 *
 * This template will be used when a product edit form specifies 'product_edit_form'
 * as its #theme callback.  Otherwise, by default, product add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The product add/edit form.
 *
 * @see seven_form_product_form_alter()
 *
 * @ingroup themeable
 */
#}
<div class="layout-product-form clearfix">
  <div class="layout-region layout-region-product-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-product-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-product-footer">
    <div class="layout-region-product-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
