$Color0: #E5E5E5;
$Color1: #4A4A4A;
$Color2: #282828;
$Color3: #373737;
$Color4: #333333;
$Color5: #E6F0F5;
$Color6: #F0F0F0;
$Color7: #464646;
$Color8: #A7A7A7;





$Color9: red;
$Color10: red;
$Color11: red;
$Color14: red;

$Color13: red;

$Color12: red;