{{ form|without('advanced', 'actions') }}
<div class="footer__content">
	{{ form.actions|without('preview', 'delete') }}
</div>
<div class="hide_form_infos" style="display:none;">
	{{ form.advanced }}
</div>
