<div class="basket_header">
	<div class="breadcrumbs_wrap">
		{{ info.breadcrumbs|join('<span class="arrow"></span>')|raw }}
		{% if info.CreateLink %}
			{{ info.CreateLink|raw }}
		{% endif %}
	</div>
	<ul class="menu_header">
		{% for item in info.items %}
			<li class="item">
				{{ item|raw }}
			</li>
		{% endfor %}
	</ul>
</div>
