<div id="basket_admin_page">
	<div class="basket_toolbar">
		<div class="basket_toolbar_menu">
			{{ info.menu|raw }}
		</div>
	</div>
	<div class="basket_page_content">
		{{ info.header|raw }}
		<div id="basket_page_content_ajax">
			{{ info.content|raw }}
		</div>
	</div>
</div>
