{% if links %}
  <ul>
    {% for link in links %}
      <li>
        <a href="{{ link.url }}">{{ link.group_label }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  {{ 'You must be member of a group to do this.'|t }}
{% endif %}
