{% if full_html %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <title>Digital Signage</title>
</head>
<body{{ attributes }}>
{{ content }}
</body>
</html>
{% else %}
{{ content }}
{% endif %}
