[data-minicart-status="hidden"] .mini-cart-wrapper {
  display: none;
}

[data-minicart-status="visible"] .mini-cart-wrapper {
  display: block;
}

.api-cart--link[data-count="0"] .item-count {
  display: none;
}
