
.arch-dashboard-panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

}

.arch-dashboard-panels .arch-dashboard-panel {
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  width: 25%;

  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.75);
}
