{% set uri = profile.picture.entity.field_media_image.entity.uri.value %}
{% if uri is null %}
  {% set picture = profile.defaultPicture %}
{% else %}
  {%
    set picture = {
      '#theme': 'image',
      '#uri': uri,
    }
  %}
{% endif %}
{% set module_path = _self|split("/templates")|first %}
{% include '@friggeri_cv/header.html.twig' %}

<div class="row">
  <div class="col-xs-3">
    <aside>{% include '@friggeri_cv/aside.html.twig' %}</aside>
  </div>
  <div class="col-xs-9">
    <main>
      {% include '@friggeri_cv/main.html.twig' %}
      {% include '@friggeri_cv/footer.html.twig' %}
    </main>
  </div>
</div>
