/*

This section removes the ... from headers, uses word wrap and removes some of the padding

 */

/* Header - Do not cut off text with ... and wrap the text. */
div.ag-root div.ag-header-group-cell-label span.ag-header-group-text
, div.ag-root div.ag-header-cell-label span.ag-header-cell-text {
  overflow: hidden;
  text-overflow: clip;
  white-space: normal;
  color: #000;
}

/* No cut off text with ... on grid cells. Make all grid cell text black */
div.ag-root div.ag-row div.ag-cell {
  overflow: hidden;
  text-overflow: clip;
  white-space: normal;
  color: #000;
}

/* Remove some of the padding, etc... a bit too much */
div.ag-root .ag-header-cell
, div.ag-root .ag-cell
, div.ag-root .ag-header-group-cell {
  line-height: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

/*
  Don't allow text selection inside aggrid (let the library do the select work)
 */
div.ag-root {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* All 4 box sides */
div.ag-root .ag-cell:not(.ag-cell-focus) {
  border-right: 1px solid #f5f7f7;
  box-sizing: border-box;
}

/* Spread out */
div.ag-root .ag-header-cell-label
, div.ag-root .ag-header-cell-text {
  width: 100%;
}

div.ag-root .aggrid-cell-center
, table.aggrid-html-widget .aggrid-htmlcell-center {
  text-align: center;
}

div.ag-root .aggrid-cell-date {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 15px;
  background: url(../images/icons/calendar.svg) right / contain no-repeat;
}

div.ag-root div.aggrid-cell-disabled {
  background-color: #ccc;
}

div.ag-root .aggrid-cell-dropdown {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 15px;
  background: url(../images/icons/dropdown.svg) right / contain no-repeat;
}

div.ag-root div.aggrid-cell-error {
  background-color: #f08080;
}

div.ag-root .aggrid-cell-hidden {
  visibility: hidden;
}

div.ag-root .aggrid-cell-indent
, table.aggrid-html-widget .aggrid-htmlcell-indent {
  padding-left: 15px;
}

div.ag-root .aggrid-cell-indent-dbl
, table.aggrid-html-widget .aggrid-htmlcell-indent-dbl {
  padding-left: 30px;
}

div.ag-root .aggrid-cell-label
, table.aggrid-html-widget .aggrid-htmlcell-label {
  background-color: #fbfdfd;
  font: 600 12px BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div.ag-root .aggrid-cell-right
, table.aggrid-html-widget .aggrid-htmlcell-right {
  text-align: right;
}

div.ag-root .aggrid-cell-section
, table.aggrid-html-widget .aggrid-htmlcell-section {
  background-color: #f5f7f7;
  font: 600 12px BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  padding-top: 4px;
}

div.ag-root .aggrid-cell-total
, table.aggrid-html-widget .aggrid-htmlcell-total {
  font-weight: 700;
}

.aggrid-error-dialog div.ui-dialog-titlebar {
  background: #f08080;
}

/*

Mouseover for label fields

 */

div.ag-row-hover > div.aggrid-cell-label {
  background-color: #dbdee1;
}

/*

  Standard HTML Table version of ag-Grid JSON data

 */

/*
  Set basic table look for aggrid html widget
 */
table.aggrid-html-widget {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 1px solid #BDC3C7;
  font: 400 12px BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

table.aggrid-html-widget tr th
, table.aggrid-html-widget tr td {
  border: 1px solid #f5f7f7;
  background-color: #fff;
  padding: 4px 9px;
  text-align: left;
}

table.aggrid-html-widget thead th
, .aggrid-htmlcell-section
, .aggrid-htmlcell-label {
  font-weight: 600;
  border: 1px solid #BDC3C7;
  background-color: #f5f7f7;
  color: #000000;
}

td.aggrid-htmlcell-disabled {
  background-color: #ccc;
}
