/* Clean up aggrid JSON Editor */
.aggrid-json-widget {
    border: 1px solid #ccc;
    font-size: 13px;
    resize: both;
    overflow: auto;
    height: 400px;
    padding: .5em 1em;
    margin: 0;
}
