/**
 * @file
 * Visual styles for the color palette.
 */

.colorpalette .palette-colors {
  display: flex;
  flex-wrap: wrap;
  max-height: 184px;
}
.colorpalette .palette-colors .color-btn {
  color: #6f6f6f;
  font-size: 11px;
  padding: 4px;
  text-align: center;
}
.colorpalette .palette-colors .color-label {
  margin-top: 4px;
  max-width: 52px;
  overflow: hidden;
  white-space: nowrap;
}
.colorpalette .palette-colors .button {
  border-color: #efebeb;
  border-radius: 8px;
  height: 52px;
  padding: 0;
  width: 52px;
}
.colorpalette .palette-colors .button.error {
  border-color: #ff0000;
}
.colorpalette .palette-colors input.button,
.colorpalette .palette-colors input.button:hover,
.colorpalette .palette-colors input.button:focus {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
