<div class="panel yasm-panel yasm-card">
  {% if icon|length %}<div class="icon"><i class="{{ icon }}"></i></div>{% endif %}
  <div class="label">{{ label }}</div>
  <div class="separator">: </div>
  <div class="count">{{ count }}</div>
</div>
