#drupal-off-canvas .lbl-checkbox-selector input[type="radio"]:checked + label {
  border: 2px solid var(--colorGinFocus, "blue");
}

#drupal-off-canvas .lbl-checkbox-selector div.js-form-item {
  display: inline;
  padding: 0;
  margin: 0;
}

#drupal-off-canvas .lbl-checkbox-selector input[type="radio"] {
  display: none;
}

#drupal-off-canvas .lbl-checkbox-selector input[type="radio"] + label {
  padding: 0;
  margin: 0;
  display: inline-block !important;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}

#drupal-off-canvas .lbl-checkbox-selector label svg {
  margin: 3px;
}
